.despre {
    border-radius: 15px;
}
.despretext {
    text-align: justify;
    color: white;
}

.contacte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.jos {
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
}
